/* Body style  */
body {
    font-family: 'Poppins', sans-serif;
}


/* Header Style  */
.header {
    display: flex;
    background-color: #020f2a;
    width: 1150px;
    height: 643px;
    margin: 50px 100px 20px 100px;
    border-radius: 30px;

}

.content {
    margin: 80px 100px 100px 105px;
    color: white;
}

.content h1 {
    font-size: 45px;
    font-weight: 700;
}

.content p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5em;
}

.live-button {
    color: white;
    text-decoration: none;
    border: 4px solid rgba(6, 65, 85, 0.959);
    border-radius: 5px;
    background-color: rgb(19, 51, 77);
    padding: 16px 25px;
    font-size: 20px;
    text-align: center;

}

.fa-circle-arrow-right {
    padding-top: 20px;
    padding-left: 5px;
}

.live-button:hover {
    background-color: #020f2a;
    color: white;
    padding: 8px 25px;
    border-radius: 10px;
    border: 3px solid rgba(16, 163, 212, 0.959);


}

.live-button:hover .fa-circle-arrow-right {
    transform: translate(20px);
    transition: 1s;
}

.banner-img {
    margin-top: 30px;
    margin-bottom: 0;
}

.banner-img img {
    width: 581px;
    height: 613px;
}

/* Main Style  */

.main-sec {

    width: 1150px;
    margin: 50px 100px 100px 100px;
    display: flex;
    column-gap: 1em;
}

.nav {
    background-color: #020f2a;
    width: 320px;
    height: 320px;
    border-radius: 10px;
    margin-right: 2em;
}

.main-nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2em;
    padding: 10px 30px;
}

.main-nav li {
    background-color: rgb(19, 51, 77);
    text-align: center;
    padding: 15px 10px;
    border: 3px solid rgba(6, 65, 85, 0.959);
    border-radius: 5px;
}

.main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.main-nav .blog{
    border: 3px solid rgba(16, 163, 212, 0.959);
    background-color: white;

}
.main-nav .blog a{
    color: #020f2a;
    font-weight: 600;

}
.main-nav li:hover {
    border: 3px solid rgba(16, 163, 212, 0.959);
    background-color: white;
}

.main-nav li:hover a {
    color: #020f2a;
    font-weight: 600;
}
.upcoming-match{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
}
/* .team{
    height: 350px;

} */

.team-info {
    width: 250px;
    height: 320px;
    border: 1px solid #0a389c;
    border-radius: 10px;
}
.team-info:hover{
    border: 3px solid rgba(16, 163, 212, 0.959);

}
.flag img{
    width: 100%;
    height: 20%;
}
.flag h3{
    margin-left: 10px;
    border: 1px solid black;
    width: 40%;
    text-align: center;
    border-radius: 5px;
}
.flag p{
    padding-left: 10px;
    font-weight: 700;
}
.flag h3:hover{
    border: 2px solid rgba(16, 163, 212, 0.959);


}
.info{
    margin-left: 1em;
    display: flex;
    column-gap: 2em;
}

/* Footer Style  */

.footer{
    width: 100%;
    height: 500px;
    background-color: #020f2a;
}
.title{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 50px;
    font-size: 40px;
    color: white;
}
.footer hr{
    width: 80%;
}
.footer-info ul{
    padding-top: 50px;
    list-style: none;
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.footer-info ul li a{
    text-decoration: none;
    color: grey;
}
.footer-info ul li:hover a{
    font-size: larger;
    color: white;
}
.social{
    font-size: 25px;
}
.social ul{
    display: flex;
    column-gap: 30px;
}
.social ul li:hover{
    border: 3px solid rgba(16, 163, 212, 0.959);
    background-color: white;
    border-radius: 10px;
    padding: 0 10px;
}
.social ul li:hover a{
    color: #020f2a;
}

.social ul li span{
    display: none;
}
.social ul li:hover span{
    display: inline;
    color: #020f2a;
    font-weight: 600;
}

/* media style  */

@media screen and (max-width: 688px) {
    .header{
        width: 100%;
        display: block;
        height: fit-content;
        margin: 0;
        border-radius: 20px;
    }
    .content{
        text-align: center;
        margin: 0;
        width: 80%;
        padding: 10%;
    }
    .content h1{
        font-size: 30px;
        font-weight: 500;
    }
    .content p{
        font-size: 10px;
        font-weight: 300;
    }
    .live-button{
        font-size: 15px;
        font-weight: 400;
        padding: 2% 5%;

    }
    .live-button:hover {
        background-color: #020f2a;
        color: white;
        padding: 4px 20px;
        border-radius: 10px;
        border: 3px solid rgba(16, 163, 212, 0.959);
    }
    
    .live-button:hover .fa-circle-arrow-right {
        transform: translate(10px);
        transition: 1s;
    }

    .banner-img{
        display: flex;
        width: 80%;
        margin-left: 15%;
    }
    .banner-img img{
        height: 300px;
        width: 300px;
    }
    .main-sec{
        display: block;
        width: 80%;
        height: fit-content;
        margin: 0;
        align-items: center;
        column-gap: 0;
        margin-bottom: 10%;
    }
    .nav{
        width: 100%;
        background-color: white;
        margin-right: 0;
        padding-top: 20px;
        padding-left: 20px;

    }

    .main-nav li {
        background-color: white;
        text-align: center;
        padding: 0;
        border: 0px solid rgba(6, 65, 85, 0.959);
        border-radius: 0px;
    }
    .main-nav li a{
        color: white;
        background-color: rgb(19, 51, 77);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgba(6, 65, 85, 0.959);


    }
    .main-nav li:hover {
        border: 0px solid rgba(16, 163, 212, 0.959);
        background-color: white;
    }
    .main-nav li a:hover{
        color:#020f2a;
        background-color: white;
        border: 3px solid rgba(16, 163, 212, 0.959);

    }
    .main-nav .blog{
        border: 0px solid rgba(16, 163, 212, 0.959);
        background-color: white;
    
    }
    .main-nav .blog a{
        border: 3px solid rgba(16, 163, 212, 0.959);
        background-color: white;
    
    }
    .upcoming-match{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        row-gap: 10px;

    }        
    .team-info {
        width: 200px;
        height: 340px;
        border: 1px solid #0a389c;
        border-radius: 10px;
        width: 80%;
        margin-left: 60px;
    }
    .footer{
        width: 100%;
        height: fit-content;
    }
    .footer-info ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 20px;
        list-style: none;
        column-gap: 0px;
        row-gap: 10px;
        padding-left: 35%;
    }
    .social {
        font-size: 20px;
        padding-left: 10%;
        padding-bottom: 10%;

    }
    .social ul li:hover {
        border: 2px solid rgba(16, 163, 212, 0.959);
        background-color: white;
        border-radius: 5px;
        padding: 0 10px;
    }
    .social ul li:hover span{
        width: 50%;
    }
}

